.binance-table {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.binance-table .column-header-background {
    -fx-background-color: #181a20;
}
.binance-table .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #848e9c;
}
.binance-table .table-row-cell {
    -fx-background-color: #181a20;
    -fx-text-fill: #eaecef;
    -fx-border-color: transparent;
}
.binance-table .table-row-cell:selected {
    -fx-background-color: #2b2f36;
}