# --- DOSSIERS DE BUILD ---
target/
bin/
build/
out/
.gradle/

# --- SÉCURITÉ (CRUCIAL) ---
.env
*.log

# --- CONFIGURATION IDE ---
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.nb-gradle/
nbproject/private/

# --- SYSTÈME ---
.DS_Store
Thumbs.db

# --- FICHIERS TEMPORAIRES DU PROJET ---
# Ignore les images générées par l'IA ou les uploads de test
src/main/resources/uploads/*.png
src/main/resources/uploads/*.jpg
blockchain_ledger/
Contrat_Investisseur_*.txt
SmartContract_Detaillé_*.txt